<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="HiTechConnectionString" connectionString="server=AMAN\MSSQLSERVER2014; database=HiTechDB; user id=sa; password=waheguru97" />
    <add name="HiTechDBEntities" connectionString="metadata=res://*/HiTechModel.csdl|res://*/HiTechModel.ssdl|res://*/HiTechModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMAN\MSSQLSERVER2014;initial catalog=HiTechDB;user id=sa;password=waheguru97;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WindowsFormsApplicationGUI.Properties.Settings.HiTechDBConnectionString"
      connectionString="Data Source=AMAN\MSSQLSERVER2014;Initial Catalog=HiTechDB;User ID=sa;Password=waheguru97"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>